API_ID=123456789 # CHANGE WITH YOUR API ID
API_HASH=98awdj23jdwal231jdwak # CHANGE WITH YOUR API HASH
BOT_TOKEN=2132154214:OO239143admawdkawad231Af # CHANGE WITH YOUR BOT TOKEN
SUPPORT_CHANNEL_ID=-100
DISCUSSION_GROUP_ID=-100 
SUPPORT_STAFF_IDS=123456789,123456789 # CHANGE WITH YOUR USER ID FOR STAFF